
/* 슬라이드 크기 조정 */

.bx-wrapper{
    width: 350px;
    height: 350px;
 
}

/* 상품 이미지 , 설명 flex 정렬*/

.detail_category{
margin-top:50px;
}

/* 상품 사진 + 정보 + 설명 + 리뷰 + qna 전체 */
.product_detail_all{

}

/* 상품 카테고리  */
.detail_category p{
	font-size: 1.5rem;
	font-weight: bold;
}
/* 상품 이미지 + 상품 정보 flex 정렬 */
.product_detail{
	display: flex;
	margin-top:100px;
}

/* 상품정보 */
.product_info{
	width:500px;
	margin-left: 150px;
}

.product_info h1,  .product_info p  {
	margin-bottom: 20px;
}

.product_total_review a{
	color: black;
}

/* 상품명 */
.product_name {
font-size: 2rem;
font-weight: bold;
}

/* 상품가격 */
.product_price{
	font-size: 1.2rem;
}

.product_name:hover {
	color: #045757;
	}
/* 상품옵션 */
.product_option {
	width: 255px;
	margin-top:20px;
	margin-bottom: 10px;
}

/* 상품버튼 */

.btn_cart {
	font-weight: bold;
	background-color: #0d6efd;
	color:#e4e4e4;
}

.btn_rental {
	color: #e4e4e4;
	font-weight: bold;
	background-color: #045757;
}
/* 장바구니 담기 버튼 + 렌탈 버튼 */
.product_buy{
	margin-bottom: 10px;
	display: flex;
}
.btn_wish {
	font-weight: bold;
	width: 255px;
	text-align: center;
}

/* .btn_wish span{
	color: red;
} */

/* 상품공유 영역 */
.product_share{
	margin-top: 20px;
}

.product_share button{
	height: 40px; 
	margin-right: 5px;
	background-color: white;
	border: none; 
}

.product_share i{
	font-size: 1.5rem;
}

.product_des{
	margin: 50px 0;
}

.product_des p{
	padding-bottom: 10px;
}

.product_des p:nth-of-type(2), .product_des p:nth-of-type(4){
	font-weight: bold;
}
/* 상품리뷰 */
.product_review {
	margin: 100px 0;
	
}

.product_review>h1>span{
	color:orange;
}

.product_review_content{
	margin-top:30px;
	display: flex;
}

.product_review_left{
	width: 80%;
}

.product_review h1{
	font-size: 1.5rem;
	margin-bottom: 20px;
	font-weight: bold;
}

.product_review_content td{
	padding-bottom: 20px;
}

.product_review_right{
	border-left: 1px solid black;
	padding-left: 10px;
}

.btn-loadmore{
	margin-top: 50px;
}
/* 상품qna */

.product_qna{
	margin: 100px 0;
}

.product_qna_all{
	clear: both;
}

.product_qna h1{
	font-size: 1.5rem;
	margin-bottom: 20px;
	font-weight: bold;
}

.product_qna_desc{

	display: none;
	line-height: 120%;
	padding-bottom: 10px;
	background: rgba(248,248,248,0.8);
}


.product_qna_title{
	padding-bottom:10px;


}

.insert_qna{
	float: right;
}

.product_delivery{
	margin-top: 100px;
}

.product_delivery p{
	padding-bottom: 10px;
}

.paging a {
	text-decoration: none;
	color: black;
}

/* .review_img{
	cursor: pointer;
}
.review_img_reset{
	display: none;
	margin: auto;
	cursor: pointer;
}

.review_img_reset p {
	text-decoration: underline;
	color: blue;
}
 */
