.title {
    margin: 100px;
    font-size: 2rem;
    font-weight: bold;
}

.wish_list{
    margin-top: 50px;
}

.wish_list li{
    padding-bottom: 200px;
}


.witem_name  {
    font-weight: bold;
     padding-top: 5px;
     padding-bottom: 10px; 
  
 }
 .witem_price{
 font-size: 0.9rem;
 }

 .witem_info div{
    text-align: center;
    padding-bottom: 30px;
 }
 
 .wish_list_empty{
text-align: center;
 }
 
  .wish_list_empty p {
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
  }
 
 
 
 
