@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

  body {
    align-items: center;
    background-color: #FFFFFF;
  }
  
.infoupdate-wrapper {
	position:relative;
    margin-top: -20% !important;
    margin-left:30% !important;
    margin-bottom:3% !important;
    max-width: 600px;
    max-height: 1100px;
 }
 
 .my-hl-iu {
 	text-align: left !important;
 	font-weight: 500;
 	font-size : 20px;
 }
 

.infoupdate-spacing {
    margin-top :30px;
 }

.infoupdate-spacing-l {
    margin-top :30px;
 }

.infoupdate-container {
    width: 600px;
    height: 1000px;
 }

button.btn.btn-primary {
    --bs-btn-bg: #045757 !important;
    --bs-btn-border-color: #FFFFFF !important;
    margin-left: 40%;
    margin-bottom: 100px;
}


