@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    align-items: center;
    background-color: #FFFFFF;
  }
  
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
.mypage-wrapper {
	position:relative;
    margin-top:5% !important;
    margin-left:10% !important;
    margin-bottom:5% !important;
    max-width: 180px;
 }
 
 .my-hl {
 	text-align: center;
 	font-weight: 500;
 	font-size : 20px;
 }

 .nav-pills {
    --bs-nav-pills-link-active-bg: #045757 !important;
 }

 .link-dark:hover {
   background-color: #E4E4E4 !important;
 }
 
 .link-dark:after {
	backgroud-color : #045757 !important;
}