@charset "UTF-8";

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

.order-wrapper {
	position: absolute;
	top: 10%;
	left: 25%;
}

.order-spacing {
	margin-top: 30px;
}

.order-spacing-l {
	margin-top: 60px;
}

.list-group-item {
	text-align: center;
	background-color: #E4E4E4 !important;
	border: #FFFFFF !important;
}

button.btn.btn-primary.btn-sm { -
	-bs-btn-bg: #045757 !important; -
	-bs-btn-border-color: #FFFFFF !important;
}

button.btn.btn-secondary.btn-sm { -
	-bs-btn-color: #222222; -
	-bs-btn-bg: #E4E4E4 !important; -
	-bs-btn-border-color: #FFFFFF !important;
}