<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<bean id="customUserService" class="kh.spring.daesinsa.member.security.CustomUserDetailsService" />

	<security:http>
		<security:intercept-url pattern="/" access="permitAll"/>
		<security:intercept-url pattern="/member/mypage" access="hasRole('ROLE_MEMBER')"/>
		<security:intercept-url pattern="/admin/login" access="hasRole('ROLE_ADMIN')"/>
		<security:form-login login-page="/users/login"
							 username-parameter="id"
							 login-processing-url="/users/login"
							 default-target-url="/" />
		
		
		<!-- 최대 한 개의 세션만 생성되도록 -->
		<security:session-management invalid-session-url="/member/login">
            <security:concurrency-control max-sessions="1"
            							  expired-url="/member/login"
            							  error-if-maximum-exceeded="true" />
        </security:session-management>
	</security:http>
	
	<security:user-service>		
		<security:user name="test" password="{noop}test" authorities="ROLE_MEMBER"/>
		<security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/> 
	</security:user-service>
	
	<security:authentication-manager>	
		<security:authentication-provider>			
			<security:password-encoder hash="bcrypt"/>
			<security:jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT M_ID, M_PWD, ENABLED FROM MEMBER WHERE M_ID=?"
				authorities-by-username-query="SELECT M_ID, M_PWD, AUTH as authority FROM MEMBER WHERE M_ID=?"
			/>			
		</security:authentication-provider>
	</security:authentication-manager>

</beans>