

table {border: solid 1px rgb(233, 233, 233);
    width: 80%; margin: auto;

}

td, th{
border-bottom: solid 1px rgb(233, 233, 233) ;

}

.dropdown { position: relative; display: inline-block; }

.dropdown-content {

    display: none;

    position: absolute;

    background-color: #F9F9F9;

    min-width: 160px;

    padding: 8px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown:hover .dropdown-content { display: block; }

.guide_text{font-size: 12px;}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    padding: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content { display: block; }