@charset "UTF-8";
/* flex 정렬 */
.sideandlist{
    display: flex;
}
/* 사이드 바 margin */
.sidebar{
	margin-top: 100px;
}

/*사이드메뉴 제목 */
.top {
    margin-top: 30px;
    font-weight: bold;
    font-size: 2rem;
  transform: translateX(60px);
}
/* 사이드메뉴 ul li 텍스트 가운데 정렬 */
.sidemenu{
    text-align: center;
}
/* 버튼 글씨 가운데 정렬 및 글자크기 조정 */
.first_menu button{
    font-size: 1.2rem;
    width: 100%;
  
}
/* 메뉴 간격 조절 */
.second_menu{
    padding-bottom: 10px;
}
/* 버튼 누르면 나오는 메뉴 텍스트 */
.second_menu a{
    text-decoration: none;
    font-size: 1rem;
}

.second_menu a:hover{
    font-weight: bold;
}

.faq_list{
	margin-top:60px;
	margin-left:30px;
	width: 80%;
}

.list_title{
	border-bottom: 1px solid black;
	margin-bottom: 50px;
	
}
.list_title h2{
	font-weight: bold;
	font-size: 2rem;
	padding-bottom: 20px;
}
.category_link ul{
	display: flex;
	margin-bottom: 20px;
}
.category_link li{
	padding: 10px 15px;
	border-right: 1px solid gray;
}

.category_link li:first-of-type{
	padding-left: 0px;
}


.category_link a {
	display: block;
	font-weight:bold;
	text-decoration: none;
	color: black;

}

.faq_cate_question {
	border-bottom: 1px solid black;
}

.faq_category{
	margin-top:10px;
	height: 20px;
	line-height: 20px;
}
.faq_question{
	height: 50px;
	line-height: 50px;
}


.faq_answer {
	padding-top: 20px ;
	padding-bottom: 20px ;
	display: none;
	height: 100%;
	line-height:200%;
	background-color: #e4e4e4;
}


