@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

  html,
  body {
    height: 100%;
  }

  body {
    align-items: center;
    background-color: #FFFFFF;
  }
	
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }

   .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  main.form-signin.w-100.m-auto {
	margin-top : 8% !important;
	margin-bottom : 8% !important;
} 

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  button.w-100.btn.btn-lg.btn-primary {
    background-color: hsl(180, 91%, 18%);
    border: none;
    text-align: center;
  }
