@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

    body {
      align-items: center;
      background-color: #FFFFFF;
    }

    .login-logo {
      width:200px; 
      height:50px;
      margin-left: 15%;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
    }
    
    main.form-signin.w-100.m-auto {
	margin-top : 8% !important;
	margin-bottom : 8% !important;
	}

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .find {
      text-align: center; 
    } 

    button.w-100.btn.btn-lg.btn-primary {
      background-color: hsl(180, 91%, 18%);
      width: 187px !important;
      border: none;
      text-align: center;
      margin-left: 19%;
    }

    .social-img {
      display: block;
      margin: 0px auto;
      width: 300px; 
      height: 46px; 
      object-fit: contain;
    }
   
