<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- 1.settings -->
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>


<!-- 2.typeAliases : 별칭 domain -->
<!-- 상품&대여 - 김도현 -->
 <typeAliases>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Shopping" alias="Shopping"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.ProductImg" alias="ProductImg"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Product" alias="Product"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Category" alias="Category"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.ProductOptionInfo" alias="ProductOptionInfo"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.ProductQna" alias="ProductQna"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.ProductReview" alias="ProductReview"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.ProductReviewImg" alias="ProductReviewImg"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.WishList" alias="WishList"/>
  <typeAlias type="kh.spring.daesinsa.rent.domain.Rental" alias="Rental"/>
 <!-- 공지사항 - 김도현 -->
   <typeAlias type="kh.spring.daesinsa.cs.domain.CsNotice" alias="CsNotice"/>
   <typeAlias type="kh.spring.daesinsa.cs.domain.CsFaq" alias="CsFaq"/>
   <typeAlias type="kh.spring.daesinsa.cs.domain.CsQna" alias="CsQna"/>
   <typeAlias type="kh.spring.daesinsa.cs.domain.Coupon" alias="Coupon"/>
 <!-- 박자민 (member) -->
   <typeAlias type="kh.spring.daesinsa.member.domain.Member" alias="Member"/>
  <!-- 장바구니 -->
  <typeAlias type="kh.spring.daesinsa.shopbasket.domain.Shopbasket" alias="Shopbasket"/>
  <typeAlias type="kh.spring.daesinsa.order.domain.Order" alias="Order"/>

</typeAliases> 


<!-- 3.mappers -->
<mappers>
<!-- 박자민 -->
<mapper resource="mappers/member-mapper.xml"/>
<!-- 김도현 -->
<mapper resource="mappers/shopping-mapper.xml"/>
<mapper resource="mappers/rent-mapper.xml"/>
<mapper resource="mappers/cs-mapper.xml"/>
<!-- 조병국 -->
<mapper resource="mappers/shopbasket-mapper.xml"/>
<!-- <mapper resource="mappers/order-mapper.xml"/> -->
</mappers> 

</configuration>
