<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- 1.settings -->
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>


<!-- 2.typeAliases : 별칭 domain -->
 <typeAliases>
 <typeAlias type="kh.spring.daesinsa.member.domain.Member" alias="Member"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Shopping" alias="Shopping"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Product_img" alias="Product_img"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Product" alias="Product"/>
  <typeAlias type="kh.spring.daesinsa.shopping.domain.Category" alias="Category"/>
</typeAliases> 


<!-- 3.mappers -->
<mappers>
<mapper resource="mappers/member-mapper.xml"/>

<mapper resource="mappers/shopping-mapper.xml"/>
</mappers> 

</configuration>
